@value makerWhite,makerBlue,makerLightGrey from "../../common/colors.css";
@value Tablet, Mobile from "../../common/size.css";

ul {
  list-style: none;
  padding-left: 0;
}

.badge {
  display: inline-block;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 10px;
  color: makerWhite;
  background-color: makerBlue;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.editor {
  flex: 1 1 50%;
  padding: 1.5rem 1rem;
  overflow-y: auto;
  border-right: 1px solid makerLightGrey;
}

@media screen and (max-width: Tablet) {
  .editor {
    padding-top: 1rem;
    border-right: 0;
    border-bottom: 1px solid makerLightGrey;
  }

  .badge {
    margin-bottom: 0;
  }
}

@media screen and (max-width: Mobile) {
  .badge {
    font-size: 0.7rem;
    margin-bottom: 0.9rem;
  }

  .editor {
    padding: 0.5rem 0.3rem;
  }
}
