@value makerWhite,makerLightGrey,makerPink from "../../common/colors.css";
@value Mobile from "../../common/size.css";

.form {
  width: 24rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: makerWhite;
  border-radius: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.input,
.select {
  border: 0;
  background: 0;
  font-size: 0.9rem;
}

.input {
  width: 20rem;
  margin: 0 auto;
  margin-bottom: 0.2rem;
  padding: 0.6rem;
  background-color: #eeeeee;
}

.wrapper {
  display: flex;
  width: 20rem;
  margin: 0 auto;
}

.image_input,
.select,
.button {
  width: calc(100% / 3);
}

.select {
  padding: 0.5rem;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  background-color: makerLightGrey;
  border-radius: 0.2rem;
}

.select:focus {
  outline: none;
}

.button {
  border: 0;
  background: 0;
  cursor: pointer;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 500;
  color: makerWhite;
  background-color: makerPink;
  border-radius: 0.2rem;
}

.button:hover,
.button:active {
  opacity: 0.8;
}

/* responsive : Mobile */
@media screen and (max-width: Mobile) {
  .form {
    width: 100%;
    padding: 0.6rem;
  }

  .input {
    width: 98%;
    padding: 0.5rem;
  }

  .wrapper {
    width: 98%;
  }
}
