@value makerBlack,makerWhite,makerLightGrey,makerBlue from "../../common/colors.css";

.card {
  width: 100%;
  max-width: 28rem;
  margin: 0 auto;
  display: flex;
  padding: 1.5rem 1rem 1.5rem 2rem;
  border-radius: 0.5rem;
  margin-bottom: 1.2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: transform 300ms ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}

.card.light {
  color: makerBlack;
  background-color: makerWhite;
}

.card.dark {
  color: makerWhite;
  background-color: makerBlack;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5rem;
}

.profile {
  position: relative;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.avatar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.title {
  font-size: 0.9rem;
  color: makerLightGrey;
}

.detail_info {
  padding-top: 1.8rem;
}

.company {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.address {
  font-size: 0.9rem;
  margin-bottom: 2.8rem;
}

.number {
  margin-bottom: 0.3rem;
}
