@value makerBlack,makerWhite,makerGrey,makerBlue,makerYellow from "../../common/colors.css";
@value Mobile from "../../common/size.css";

.card {
  position: relative;
  width: 100%;
  max-width: 28rem;
  margin: 0 auto;
  display: flex;
  padding: 1.5rem 1rem 1.5rem 2rem;
  border-radius: 0.5rem;
  margin-bottom: 1.2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: transform 300ms ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}

/* card theme */
.card.light {
  color: makerBlack;
  background-color: makerWhite;
}

.card.dark {
  color: makerWhite;
  background-color: makerBlack;
}

/* save button */
.save {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border: 0;
  background: 0;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: border-color 200ms ease-in;
}

.save:hover {
  border-color: makerYellow;
}
.save img {
  width: 1.1rem;
}

/* card info */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5rem;
}

.profile {
  position: relative;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.avatar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.title {
  font-size: 0.9rem;
  color: makerGrey;
}

.detail_info {
  padding-top: 1.8rem;
}

.company {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.address {
  font-size: 0.9rem;
  margin-bottom: 2.8rem;
}

.number {
  margin-bottom: 0.3rem;
}

/* responsive : Mobile */
@media screen and (max-width: Mobile) {
  .card {
    padding: 1rem 0.8rem 1rem 0.6rem;
  }

  .info {
    margin-right: 1.3rem;
  }

  .profile {
    width: 6.5rem;
    height: 6.5rem;
  }

  .name {
    font-size: 1.1rem;
  }

  .title {
    font-size: 0.8rem;
  }

  .detail_info {
    padding-top: 1.6rem;
  }

  .company {
    font-size: 1.1rem;
  }

  .address {
    font-size: 0.7rem;
    margin-bottom: 2.4rem;
  }

  .number {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  .email {
    font-size: 0.8rem;
  }
}
