@value makerBlack,makerWhite,makerGrey,makerLightGrey from "../../common/colors.css";
@value Mobile from "../../common/size.css";

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: makerWhite;
  border-bottom: 1px solid makerLightGrey;
}

.title {
  font-size: 1.8rem;
  color: makerBlack;
}

.button {
  border: 0;
  background: 0;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: makerGrey;
}

.button:hover,
.button:active {
  opacity: 0.7;
}

/* responsive : Mobile */
@media screen and (max-width: Mobile) {
  .header {
    padding: 1rem 0.5rem;
  }

  .title {
    font-size: 1.1rem;
  }

  .button {
    font-size: 0.8rem;
  }
}
