@value makerWhite,makerGrey,makerLightGrey from "../../common/colors.css";
@value Mobile from "../../common/size.css";

.footer {
  padding: 1rem 1.5rem;
  font-size: 0.9rem;
  font-style: italic;
  color: makerGrey;
  background-color: makerWhite;
  border-top: 1px solid makerLightGrey;
}

/* responsive : Mobile */
@media screen and (max-width: Mobile) {
  .footer {
    padding: 0.5rem;
    font-size: 0.6rem;
  }
}
