@value makerBlack,makerWhite,makerGrey,makerBlue from "../../common/colors.css";
@value Mobile from "../../common/size.css";

.login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28rem;
  height: 22rem;
  padding: 0.8rem;
  background-color: makerWhite;
  border-radius: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/*login - header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.2rem;
}

.image {
  display: block;
  width: 4rem;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.8rem;
  color: makerBlack;
  margin-bottom: 0.5rem;
}

.greeting {
  font-size: 1rem;
  color: makerBlack;
  font-weight: 500;
}

/*login - login list */
.list {
  width: 100%;
  list-style: none;
  padding-left: 0;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 0.6rem;
  width: 70%;
  padding: 0.6rem;
  border: 2px solid makerBlue;
  border-radius: 100px;
  cursor: pointer;
  transition: box-shadow 250ms ease-in;
}

.item:last-child {
  margin-bottom: 0;
}

.item:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.item:active {
  opacity: 0.8;
}

.button {
  border: 0;
  background: 0;
  font-size: 1.3rem;
  color: makerBlack;
  font-weight: 500;
}

.button.non_members {
  color: makerGrey;
}

/* responsive : Mobile */
@media screen and (max-width: Mobile) {
  .login {
    padding-top: 1.5rem;
  }

  .header {
    margin-bottom: 1.8rem;
  }

  .image {
    width: 3rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .greeting {
    font-size: 0.9rem;
  }

  .item {
    width: 60%;
  }

  .button {
    font-size: 1.1rem;
  }
}
