@value makerLightBlue from "../../common/colors.css";

.maker {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  flex-basis: 100%;
  display: flex;
  min-height: 0;
  background-color: makerLightBlue;
}
